*{
    margin: 0;
}
.box1, .box2, .box3, .box4{
    height: 150px;
    width: 200px;
    background-color: cadetblue;
    /* display: inline-block; */
    /* margin: 20px; */
}

.parent{
    height: 700px;
    background-color: brown;
    color: white;
    display: flex;
    /* flex-direction: column-reverse; */
    /* justify-content: right; */
    /* justify-content: space-between;  */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* align-items: flex-end; */
    /* align-items:center; */
    gap: 20px;
    flex-wrap: wrap;
}
.grid{
    background-color: chocolate;
    height: 700px;
    display: grid;
    /* grid-template-columns: 220px 300px 250px 220px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-rows: 100px 200px 300px 400px; */
    /* gap: 100px; */
    /* grid-gap: 100px; */
    /* grid-gap: 20px 30px; */
}